.git
.github
.codex
.idea
.vscode

docker/dev
docker/prod/letsencrypt

drupal/vendor
drupal/web/core
drupal/web/modules/contrib
drupal/web/themes/contrib
drupal/web/profiles/contrib
drupal/web/libraries
drupal/web/sites/*/files
drupal/web/sites/*/private
drupal/web/sites/*/tmp

node_modules
dist
build
*.log
