APP_IMAGE=registry.adelinemeistertzheim.fr/adeline/drupal-portfolio
APP_IMAGE_TAG=main

TRAEFIK_DOMAIN=portfolioDP.adelinemeistertzheim.fr
TRAEFIK_NETWORK=web

DRUPAL_DB_NAME=drupal
DRUPAL_DB_USER=drupal
DRUPAL_DB_PASSWORD=change-me
DRUPAL_DB_HOST=db
DRUPAL_DB_PORT=3306

MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

DRUPAL_HASH_SALT=change-me-with-a-long-random-string
DRUPAL_ERROR_LEVEL=hide
DRUPAL_TWIG_DEBUG=0
DRUPAL_TRUSTED_HOST=portfolioDP.adelinemeistertzheim.fr
